#myBox{
    border-radius: 15px;
    border: 2px solid black;
}
/* body{
    background-image: linear-gradient(to right, #ffdddd, #b0ffe5 );
}
.form-control{
    background-image: linear-gradient(to right, #ffdddd, #b0ffe5 );
} */
